@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

body {
   color: #000;
   background: #fff;
   font-family: 'Maven Pro';
   text-align: center;
}

a,
a:link {
  color: #0d47a1;
}

a:visited {
  color: #6200ea;
}

ul li {
  list-style: none;
}

 ul {
  margin: 0;
  padding: 0
}

footer {
  margin: 1.5rem 0 0
}
